.Card {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 0.5em;
  width: 80%;
}

.cntnr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

.cntnr > div {
  display: inline-block;
  margin: 0 5px;
}

.info {
  flex-grow: 1;
  /* border: 1px solid black; */
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cntnr > .image {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.cntnr > .image > img {
  width: 100px;
  height: 100px;
}

.info > p {
  font-size: 125%;
  margin: 0 0 0 10px;
}

.action > button {
  padding: 8px 12px;
  font-size: 110%;
  color: white;
  background-color: lightseagreen;
  border-radius: 3px;
  margin: 0 10px 0 0;
}
